.image {
    text-align: center;
    background-color: #eee;
}
  
.image1 {
    display: none; /*Tersembunyi secara default*/
}
  
img {
    width: 30%;
    height: 300px;
    object-fit: contain;
}
  
.prev, .next {
    position: absolute;
    top: 950px;
    left: 32%;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
}
  
  /* Animasi */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
}
  
@keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
}

/* MODAL 1 */

#x1:hover, #x2:hover, #x3:hover {
  cursor: pointer;
}

#myModal1, #myModal2, #myModal3 {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 1000;
}

#modalContent1, #modalContent2, #modalContent3 {
  background-color: #fefefe;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  width: 90%;
}

#modalContent1 img, #modalContent2 img, #modalContent3 img {
  width: 450px;
  height: 450px;
}

#closeModalIcon1, #closeModalIcon2, #closeModalIcon3 {
  color: red;
  float: right;
  font-weight: bold;
  font-size: 20px;
}

#closeModalIcon1:hover,
#closeModalIcon1:focus {
  color: #000;
  cursor: pointer;
}

#closeModalIcon2:hover,
#closeModalIcon2:focus {
  color: #000;
  cursor: pointer;
}

#closeModalIcon3:hover,
#closeModalIcon3:focus {
  color: #000;
  cursor: pointer;
}

/* ACCORDION */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-bottom: 1px #ccc solid;
  text-align: left;
  font-size: 15px;
}

.accordion:hover {
  background-color: #ccc;
}

.panel {
  display: none;
  padding: 0 18px;
  background-color: white;
}

.panel p {
  margin: 10px 0px;
}